* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  border: 1px solid red;
  width: 1px;
}

header > h1 {
  border-bottom: 1px solid gray;
}

.analysis-response{
  background: rgba(0, 0, 0, 0.05);
}

.copy-icon{
  width: 20px;
}